{
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
